.todo-item {
  /* width: 100%; */
  margin: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.todo-item div {
  display: flex;
  width: calc(100% - 80px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.todo-item div h4 {
  width: 100%;
}

.todo-item div p {
  width: 100%;
  font-size: 18px;
}

.todo-item .close {
  position: relative;
  right: -10px;
  top: -15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.todo-item .close:hover {
  /* opacity: .5; */
  color: brown;
}

.completed-item {
  text-decoration: line-through;
  border-color: #8dfb61;
}

.completed {
  color: #8dfb61;
}

.notCompleted {
  color: brown;
}

p {
  margin: 0;
}